# Python
.venv/
__pycache__/
*.pyc

# Node modules (si jamais tu fais du JS côté back)
node_modules/

# Fichiers de build
dist/
.env
*.log

# Données locales
cards.json
mongo-data/
debug_selenium.html

# Fichiers système
.DS_Store
Thumbs.db